<div *ngIf="album" class="row">
  <div class="col-md-12">
    <h2 *ngIf="album._id">Album Details</h2>
    <h2 *ngIf="!album._id">New Album</h2>
  </div>
</div>
<!-- selectedUsers: string[]
selectUserOptions: IMultiSelectOption[] -->
<div *ngIf="album" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="album-name">Album Name</label>
      <input class="form-control" name="album-name" [(ngModel)]="album.name" placeholder="Album Name"/>
    </div>
    <div class="form-group">
      <label for="album-artists">Artist</label>
      <ss-multiselect-dropdown name="album-aritsts" [options]="selectUserOptions" [(ngModel)]="selectedUser" [settings]="mySettings"></ss-multiselect-dropdown>
    </div>
    <div class="form-group">
      <label for="album-image-url">Album Image Url</label>
      <input class="form-control" name="album-image-url" [(ngModel)]="album.albumImageUrl" placeholder="Album Image URL"/>
    </div>
    <div class="form-group">
      <label for="album-description">Album Description</label>
      <input class="form-control" name="album-description" [(ngModel)]="album.description" placeholder="Album Description"/>
    </div>
    <div class="form-group">
      <label for="album-soundcloud-url">Soundcloud Url</label>
      <input class="form-control" name="album-soundcloud-url" [(ngModel)]="album.soundcloudUrl" placeholder="Album Soundcloud URL"/>
    </div>
    <div class="form-group">
      <label for="album-youtube-url">Youtube Url</label>
      <input class="form-control" name="album-youtube-url" [(ngModel)]="album.youtubeUrl" placeholder="Youtube URL"/>
    </div>
    <button class="btn btn-primary" *ngIf="!album._id" (click)="createAlbum(album)">Create</button>
    <button class="btn btn-info" *ngIf="album._id" (click)="updateAlbum(album)">Update</button>
    <button class="btn btn-danger" *ngIf="album._id" (click)="deleteAlbum(album._id)">Delete</button>
  </form>
</div>