<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">The Midnite Society</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a routerLink="/creations" routerLinkActive="active">Creations</a>
        </li>
        <li>
          <a routerLink="/artist/all" routerLinkActive="active">Artists</a>
        </li>
        <li>
          <a routerLink="/blog" routerLinkActive="active">Blog</a>
        </li>
        <li>
          <a routerLink="/shop" routerLinkActive="active">Shop</a>
        </li>
        <li>
          <a routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
        <li *ngIf="auth.isAuthenticated()" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin Menu
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a routerLink="/users" routerLinkActive="active">Users</a>
            </li>
            <li>
              <a routerLink="/artists" routerLinkActive="active">Artists</a>
            </li>
            <li>
              <a routerLink="/albums" routerLinkActive="active">Albums</a>
            </li>
            <li>
              <a routerLink="/tracks" routerLinkActive="active">Tracks</a>
            </li>
            <li>
              <a routerLink="/blogs" routerLinkActive="active">Blogs</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" *ngIf="!auth.isAuthenticated()" (click)="auth.login()">Log In</a>
        </li>
        <li>
          <a href="#" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Log Out</a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>

<div class="router-outlet-div">
  <router-outlet></router-outlet>
</div>
