<h1>{{ title }}</h1>
<nav>
  <a routerLink="/artists" routerLinkActive="active">Artists</a>
  <a routerLink="/albums" routerLinkActive="active">Albums</a>
  <a routerLink="/tracks" routerLinkActive="active">Tracks</a>
  <a routerLink="/blog" routerLinkActive="active">Blog</a>
  <a routerLink="/store" routerLinkActive="active">Store</a>
</nav>

<div>
  <button
    class="btn btn-primary btn-margin"
    routerLink="/">
      Home
  </button>

  <button
    class="btn btn-primary btn-margin"
    *ngIf="!auth.isAuthenticated()"
    (click)="auth.login()">
      Log In
  </button>

  <button
    class="btn btn-primary btn-margin"
    *ngIf="auth.isAuthenticated()"
    (click)="auth.logout()">
      Log Out
  </button>
</div>
<router-outlet></router-outlet>