<div *ngIf="user" class="row">
  <div class="col-md-12">
    <h2 *ngIf="user._id">User Details</h2>
    <h2 *ngIf="!user._id">New User</h2>
  </div>
</div>
<div *ngIf="user" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="user-firstname">First Name</label>
      <input class="form-control" name="user-firstname" [(ngModel)]="user.firstName" placeholder="First Name"/>
    </div>
    <div class="form-group">
      <label for="user-lastname">Last Name</label>
      <input class="form-control" name="user-lastname" [(ngModel)]="user.lastName" placeholder="Last Name"/>
    </div>
    <div class="form-group">
      <label for="user-details">Details</label>
      <input class="form-control" name="user-details" [(ngModel)]="user.details" placeholder="Details"/>
    </div>
    <div class="form-group">
      <label for="user-email">Email</label>
      <input class="form-control" name="user-email" [(ngModel)]="user.email" placeholder="meh@meh.com"/>
    </div>
    <div class="form-group">
      <label for="user-soundcloud-url">Soundcloud URL</label>
      <input class="form-control" name="user-soundcloud-url" [(ngModel)]="user.soundcloudUrl" placeholder="soundcloud.com/dopeartistzcollective"/>
    </div>
    <div class="form-group">
      <label for="user-twitter-url">Twitter URL</label>
      <input class="form-control" name="user-twitter-url" [(ngModel)]="user.twitterUrl" placeholder="twitter.com/the_donald"/>
    </div>
    <div class="form-group">
      <label for="user-facebook-url">Facebook URL</label>
      <input class="form-control" name="user-facebook-url" [(ngModel)]="user.facebookUrl" placeholder="facebook.com/"/>
    </div>
    <div class="form-group">
      <label for="user-instagram-url">Instagram URL</label>
      <input class="form-control" name="user-instagram-url" [(ngModel)]="user.instagramUrl" placeholder="instagram.com/"/>
    </div>
    <div class="form-group">
      <label for="user-snapchat-url">Snapchat ID</label>
      <input class="form-control" name="user-snapchat-url" [(ngModel)]="user.snapchatUrl" placeholder="snapchat.com/"/>
    </div>
    <div class="form-group">
      <label for="user-phone-number">Phone Number</label>
      <input class="form-control" name="user-phone-number" [(ngModel)]="user.phone" placeholder="(800)888-8888"/>
    </div>
    <button class="btn btn-primary" *ngIf="!user._id" (click)="createUser(user)">Create</button>
    <button class="btn btn-info" *ngIf="user._id" (click)="updateUser(user)">Update</button>
    <button class="btn btn-danger" *ngIf="user._id" (click)="deleteUser(user._id)">Delete</button>
  </form>
</div>